name: Push-to-build  # When pushing to any branch then run this action
# Env variable
env:
  DOCKER_USER: ${{ secrets.DOCKERHUB_USERNAME }}
  DOCKER_PASSWORD: ${{ secrets.DOCKERHUB_TOKEN }}
  REPO_NAME: ${{ secrets.REPO_NAME }}

on:
  push:
    branches:
    - '*'

jobs: # job name 
  build-deploy: 
    runs-on: ubuntu-latest  # runner name : (ubuntu latest version)     
    steps:
      - uses: actions/checkout@v2 # first action : checkout source code
      - name: docker login
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REPO_NAME }}
          username: ${{ env.DOCKER_USER }}
          password: ${{ env.DOCKER_PASSWORD }}
      - name: Build the Docker image # push The image to the docker hub
        uses: docker/build-push-action@v3
        with:
          context: .
